/* Main Theme Colors */
:root {
    --primary: rgb(30, 84, 155);
    --gray-border: #d8d8d8;
}

/* PAGE */
body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.custom-navbar {
    background-color: var(--primary);
}

.custom-navbar .nav-link {
    color: #fff !important;
    font-weight: 500;
    margin-left: 10px;
}

.custom-navbar .nav-link:hover {
    text-decoration: underline;
}

/* HERO SECTION */
.hero-section {
    background: #ffffff;
}

.welcome-text {
    letter-spacing: 1px;
    color: var(--primary);
    font-weight: bold;
}

.hero-img {
    border-radius: 20px;
    max-width: 350px;
}

/* FEATURED CARDS */
.custom-card {
    border: 2px solid var(--gray-border);
    border-radius: 15px;
    transition: 0.2s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    border-bottom: 2px solid var(--gray-border);
}

/* BUTTONS */
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary) !important;
    color: #fff !important;
}

/* FOOTER */
.footer-custom {
    background: #ffffff;
    border-top: 2px solid var(--gray-border);
}
